.container-main{
    width: 100%;
    height: 700px;
    margin-left: 5%;
    margin-right: 5%;
    background: url(./tm-sigma-00.jpg) no-repeat center center fixed;
    background-size: cover;
}

.site-home {
    padding: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
    justify-content: center;
}

.text-center{
    text-align: center;
}

.main {
    margin-left: 25%;
    width: 50%;
}

.site-home>h1{
    font-size: 48px;
    font-weight: 500;
}

.site-home>p{
    font-size: 24px;
    color: #555;
    line-height: 44px;
    margin-top: 0;
    margin-bottom: 1rem;
}



.main-bn{
    text-decoration: none;
    margin: 10px;
    padding: 16px 40px;
    min-width: 200px;
    font-size: 22px;
    border-radius: 5px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.main-bn-2{
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;

}

.icons {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center;
    padding: 60px 40px;

}

.icons > div {
    width: 400px;
    height: 360px;
    
}

.ic-txt{
    font-size: 30px;

}

.txt-1{
    color: #fff;
}

img{
    padding: 30px;
    color: #fff;
}

.wh {
    background-color: #fff;
}

.l-g{
    background-color: #999;
    color: #FFF;
}

.d-g{
    background-color: #666;
    color: #FFF;
}

.bl{
    background-color: #444;
    color: #FFF;
}

p{
    padding: 20px 0 0 0;
    margin-top: 0;
    margin-bottom: 1rem;
}